div {
    background-color:pink;
    padding:10px;
    width:100px;
    height:100px;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px);
    }
  }
  
  .animate:hover {
    animation: move 2s infinite alternate;
  }
  